/* X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    #home{
        min-height: 69vh;
    }
    #col-header-description{
        margin-top: 10px;
        text-align: center;
        padding-bottom:20px;
    }
    /*about*/
    .image-about{
        padding-bottom: 17px;
    }
    .p-about{
        padding-bottom: 12px;
    }
    /*carousel*/
    .carousel-inner{
        height: 600px;
    }
    /*Contact US*/
    .img-contact img{
        margin-left:12%;
    }
}
